---
import Layout from "../layouts/Base.astro";
---

<Layout>
  <div class="card-container">
    <div class="card">Product</div>
    <div class="card">Product</div>
    <div class="card">Product</div>
    <div class="card">Product</div>
    <div class="card">Product</div>
    <div class="card">Product</div>
    <div class="card">Product</div>
    <div class="card">Product</div>
    <div class="card">Product</div>
  </div>
</Layout>
