body {
    background-color: rgba(0, 0, 0, 0.796);
    color: white;
    margin: 0;
}

.footer {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
    }
}
.footer a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #ffffff;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #000000;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #000000;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
    .hamburger {
        display: none;
      }
  
  }


.card-container {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.493);
    display: grid;
    grid-template-rows: 350px 350px 350px;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 4em 3em;
    
}



.card {
    background-color: black;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 900px) {
    .card-container {
      display: block;
      padding-top: 20px;

    }
}

@media screen and (max-width: 900px) {
    .card {
      height: 320px;
      margin-bottom: 60px;

    }
}